[submodule "naive/vendor/spdlog"]
	path = naive/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "naive/vendor/minitrace"]
	path = naive/vendor/minitrace
	url = https://github.com/hrydgard/minitrace
